@import "variables.scss";
@import "typography";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body{
    font-family: $default-text;
    padding: 1.5rem;
}

a{
    text-decoration: none;
    color: inherit;
}


