@import '../../sass/base.scss';

.shop{
    background-color: $primary-color;
    
    &__section{
        margin-top: 4rem; 
    }

    &__product-container{
        width: 100vw;
        height: 100vh;
        padding: 2rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
}